body{background: white;color: #001327;
    font: 14px/1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;}
.logo-a{color: #001327;cursor:pointer;}
.logo-a:hover{color: #001327}
.logo-a img{margin-top: 5px;margin-left:10px;}
#header{height:90px;background: #bee2ff; box-shadow:0px 5px 10px #ababab;}
#header_top{height: 90px;width: 1400px; margin-left: 0px;}
.logo{margin-top: -5px;margin-left:10px;width: 230px;}
.logo-font{margin-top: 27px;position: relative}
.logo-font-strong{font-size: 17px}
#nav{margin-left: 100px;}
#nav a{cursor:pointer;padding:0 30px;display: inline-block;font-size: 16px;}
#nav a:hover{text-decoration: none;color: #424242;box-shadow:1px 0px 5px  #ababab}
.menu ul{line-height: 90px;float:left;}
.menu li{float:left;}
.menu li:hover{background-color: #ceeaff;transition: all 350ms;}
.header_second_nav{height: 35px;background-color: #ffffff;}
.search_btn{cursor: pointer;width:50px;height: 39px;/*35+4*/background: linear-gradient(to right, #3e3e3e,#001327);color:#fff;border-top-right-radius:20px;border-bottom-right-radius:20px;}
.search_text{width:100px;height:25px;padding-top:5px;padding-bottom:5px;padding-left:10px;background:#fff;border-top-left-radius:20px;border-bottom-left-radius:20px;border: 2px solid #3E3E3E;}
.header_second_search{width: 164px;height: 35px; margin-top: 28px;position: absolute;left:1100px}/*before之前要relative*/
.header_second_search:before{position: absolute;background: url("../images/serach.png") no-repeat center /32px 32px; ;
    content: '';
    top: 6px;
    left: 122px;
    z-index: 2;
    width: 28px;
    height: 28px;
    cursor: pointer;}
#login{line-height: 90px;}

/*滑动*/
.body{width: 100%;height: 2000px;background-color: #f5f5f6; margin-top: 9px}
#main{width: 1400px;height:1500px;margin: 0 auto;text-align: center;padding-top: 5px}
.banner-title-both{width:200px;height:50px;text-align: left}
.banner-title img{padding-top: 5px;padding-left: 10px;padding-right: 10px}
.banner-title-both img{padding-top: 6px;}
.img-r{-moz-transform: scaleX(-1);-webkit-transform: scaleX(-1);-o-transform: scaleX(-1);transform: scaleX(-1);}
.banner-title strong{padding: 9px 0;font-size: 20px}


.banner-content{margin-left: 100px;height: 400px; width:100px;}
.banner-content ul{margin-left: 30px;border-bottom-left-radius:8px;border-top-left-radius:8px;background-color: #2b333b;}
.banner-content li{width:195px;height:80px;border: #ffffff solid 1px;text-align: left;padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}/*多行文字居中*/
.banner-content li:hover{background-color: #353F49;}
.banner-content a{color: rgba(255, 255, 255, 0.8);}
.banner-content a:hover{color: #22a0ff}

.banner-box{margin-left: 133px;margin-top: -45px}
label:hover{color:#ddd!important}
label,#active,img{-moz-user-select:none;-webkit-user-select:none}
.catch{display:block;height:0;overflow:hidden}
.slider{display:none}
#slide1:checked ~ #slides .inner{margin-left:0}
#slide2:checked ~ #slides .inner{margin-left:-100%}
#slide3:checked ~ #slides .inner{margin-left:-200%}
#slide4:checked ~ #slides .inner{margin-left:-300%}
#slide5:checked ~ #slides .inner{margin-left:-400%}
#container{width:100%;overflow:hidden}
article img{width:100%}
#slides .inner{width:500%;line-height:0}
#slides article{width:20%;float:left}
#commands{margin:-25% 0 0 0;width:100%;height:50px}
#commands label{display:none;width:80px;height:80px;opacity:0.5}
#commands label:hover{opacity:0.8}
#active{position:relative;z-index:5;margin:16% 0 0;text-align:center}
#active label{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:inline-block;width:10px;height:10px;background:#bbb}
#active label:hover{background:#333;border-color:#777!important}
#slide1:checked ~ #commands label:nth-child(2),#slide2:checked ~ #commands label:nth-child(3),#slide3:checked ~ #commands label:nth-child(4),#slide4:checked ~ #commands label:nth-child(5),#slide5:checked ~ #commands label:nth-child(1){background:url('https://0.s3.envato.com/files/84450220/img/next.png') no-repeat;float:right;margin:0 12px 0 0;display:block}
#slide1:checked ~ #commands label:nth-child(5),#slide2:checked ~ #commands label:nth-child(1),#slide3:checked ~ #commands label:nth-child(2),#slide4:checked ~ #commands label:nth-child(3),#slide5:checked ~ #commands label:nth-child(4){background:url('https://0.s3.envato.com/files/84450220/img/previous.png') no-repeat;float:left;margin:0 0 0 -6px;display:block}
#slide1:checked ~ #active label:nth-child(1),#slide2:checked ~ #active label:nth-child(2),#slide3:checked ~ #active label:nth-child(3),#slide4:checked ~ #active label:nth-child(4),#slide5:checked ~ #active label:nth-child(5){background:#000;opacity:0.6;border-color:#fff!important;border:2px solid #fff}
.caption{line-height:20px;margin:0 0 -150%;position:absolute;padding:320px 12px;opacity:0;color:#fff;text-transform:none;font-family:'Open Sans',Arial,Helvetica,sans-serif;text-align:left;font-size:18px}
.caption div{display:inline-block;padding:10px;background:#000;border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;opacity:0.7;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70)}
#slides{position:relative;padding:2px;border:1px solid #ddd;margin:45px 0 0;background:#FFF;background:-webkit-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:-moz-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:-ms-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:-o-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);box-shadow:0 0 3px rgba(0,0,0,0.2)}
#slides .inner{-webkit-transform:translateZ(0);-webkit-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-o-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-webkit-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-o-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000)}
#slider{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
#commands label{-webkit-transform:translateZ(0);-webkit-transition:opacity 0.2s ease-out;-moz-transition:opacity 0.2s ease-out;-o-transition:opacity 0.2s ease-out;transition:opacity 0.2s ease-out}
#slide1:checked ~ #slides article:nth-child(1) .caption,#slide2:checked ~ #slides article:nth-child(2) .caption,#slide3:checked ~ #slides article:nth-child(3) .caption,#slide4:checked ~ #slides article:nth-child(4) .caption,#slide5:checked ~ #slides article:nth-child(5) .caption{opacity:1;-webkit-transition:all 1s ease-out 0.6s;-moz-transition:all 1s ease-out 0.6s;-o-transition:all 1s ease-out 0.6s;transition:all 1s ease-out 0.6s}
#commands,#commands label,#slides,#active,#active label{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
#slider{max-width:960px}
@media only screen and (max-width:850px) and (min-width:450px){
    #slider #commands{margin:-25% 0 0 5%;width:90%;height:50px}
    #slider #commands label{-moz-transform:scale(0.9);-webkit-transform:scale(0.9);-o-transform:scale(0.9);-ms-transform:scale(0.9);transform:scale(0.9)}
    #slider #slides .caption{padding:280px 12px}
    #slider #slides{padding:2px 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
    #slider #active{margin:15% 0 0}
}
@media only screen and (max-width:450px){
    #slider #commands{margin:-28% 0 0 1%;width:100%;height:70px}
    #slider #active{margin:12% 0 0}
    #slider #slides{padding:2px 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
    #slider #slides .caption{opacity:0!important}
    #slider #commands label{-moz-transform:scale(0.7);-webkit-transform:scale(0.7);-o-transform:scale(0.7);-ms-transform:scale(0.7);transform:scale(0.7)}
}
@media only screen and (min-width:850px){

}

.main-class{width: 1400px;height:1000px;margin: 0 auto;position: absolute;top:550px}



/*视频栏*/
/*标签页组件*/
.tabs-bar{width:1000px;height: 50px}
.tabs-tab{float: left;cursor: pointer;}
.tabs-bar{border: 1px solid #e6e6e6; width: 1000px;height: 28px;padding: 10px 5px}
.tabs-tab:hover{color: #22a0ff}
.tabs-tab-active{color: #22a0ff}
.tabs-tab{margin-left: 10px;margin-right: 10px;position: relative;}
.tabs-tab-active:before{
    width:64px;
    content:'';
    display : block;
    height : 2px;
    background: #3399ff;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;

}

.video{width:1000px;height:50px;font-size: 16px;color: #001327;}
.u-clist{cursor: pointer;}
.video-content{margin-bottom: 0;height: 150px;padding: 20px 0 20px 0;border-bottom: 1px solid #e6e6e6;}
.video-content:hover{background-color: #e0e0e0;transition: all 200ms;-webkit-transform: scale(1.05);-moz-transform: scale(1.05);-ms-transform: scale(1.05);-o-transform: scale(1.05);transform: scale(1.05); }
.content-title{font-size: 17px;margin-top:2px;margin-left: 242px;text-align: left}
.content-main{ width: 600px;text-align: left;font-size: 13px;margin-top: 40px;margin-left: 242px}
.content-time{width:150px;margin-left: 196px;margin-top: 10px;font-size: 13px;color: #ffac59;}

/*图片放大*/
.video-img{width:242px;height:130px;overflow: hidden;}
/*资料栏*/
.other{width:300px;height:500px;margin-top: 10px;font-size: 16px;}
.data{border-bottom: 1px solid #e6e6e6; margin-bottom: 10px;margin-left: 20px;padding-bottom: 5px}



/*教学部分*/
#teach{background: #2b333b;height: 1000px;min-width: 1300px;position: absolute;}

.teach-logo-a{color: #a7b1c2;cursor:pointer;}
.teach-logo-a:hover{color: #fff}
.teach-logo-a img{margin-top: 10px;}
.teach-logo{margin-top: -5px;margin-left:10px;width: 230px;}
.teach-logo-font{margin-top: 31px;position: relative}
.teach-logo-font-strong{font-size: 17px}


.teach-nav{height:700px;background-color: #2b333b;border-color: #2b333b;z-index: 2001;position: absolute;width: 220px;}
.nav{height:500px;color: #a7b1c2;font-size: 17px; user-select:none;}
.nav-content {box-sizing: border-box;display:block;height: 50px;line-height: 50px;position:relative;text-align:left;width: 230px;}

.nav-content ul{height: auto !important;}
.nav-content img{padding-left: 35px;padding-top: 14px}
.nav-content:hover{background-color: #1A1E23;color: #ffffff;}
.nav-text{margin-left: 10px;}
.nav-active{border-left: 4px solid #22a0ff;display: block;background-color: #1A1E23;color: #ffffff;}
.nav-text-sub{position: relative;visibility: visible;height: auto !important;display: block;padding-left:80px;}
.nav-a-active{color: #ffffff;}
.nav-text-sub a:hover{color: #ffffff;}




.teach-page{background-color: rgb(243, 243, 244);margin-left:230px;min-height: 1000px;min-width:1300px;position: absolute;}
.teach-title{width:1290px;height: 50px;background-color: #fff;color: rgb(136, 136, 136); font-size: 18px;line-height:50px;position: absolute;left: 5px;}
.teach-select{position: absolute;left: 10px;top:7px;cursor:pointer;width:100px;height: 40px;}
.teach-select-text{font-size: 15px;color: #22a0ff;line-height: 40px;}
.teach-title-txt{width:400px;margin:0 auto;}
.teach-user{width:100px;}

/*选集*/
[v-cloak] {
    display: none;}
.dropdown{width : 400px; height : 150px;font-size : 12px;background-color : #fff;border-radius : 4px;box-shadow: 0 1px 6px rgba(0, 0, 0 ,.2 );position: absolute;top: 0;left:40px;z-index: 2;}
.dropdown p{width:40px;display : inline-block;margin:0 5px;padding:5px 5px;line-height: 10px;background-color: #9b9b9b;border-radius: 3px;}
.dropdown a{color:#fff;}
.dropdown p:hover{background-color: #22a0ff;}

/*拓扑界面*/
.teach-console{position:absolute;width:800px;height:500px;background-color: #fff; top:55px;left: 5px;}
.teach-console-title{width:70px;height: 20px;margin:3px 10px 0px 11px;color: rgb(127, 127, 127); font-size:16px;}

#canvas{position: absolute;outline: none;width: 800px;z-index: 1;display:block;left: 235px;top:175px}

.teach-console-test{position: absolute;bottom: 50px;right: 20px;color:rgb(127, 127, 127);z-index: 2;border: rgb(127, 127, 127) solid 1px;border-radius: 5px;padding: 2px 4px 2px 4px;}
.teach-console img{padding-left: 5px }
.teach-console-submit{position: absolute;bottom: 10px;right: 20px;color:rgb(127, 127, 127);z-index: 2;border: rgb(127, 127, 127) solid 1px;border-radius: 5px;padding: 2px 4px 2px 4px;}
.teach-console a:hover{color: #4CAF50;}

/*网络结构*/
.teach-structure{position:absolute;width:485px;height:200px;background-color: #fff; top:55px;right: 5px;}
.teach-structure-title{width:70px;height: 20px;margin:3px 10px 0px 11px;color: rgb(127, 127, 127); font-size:16px;}
.teach-structure-network{position: absolute;bottom: 40px;left: 10px;}
/*设备检测*/
.teach-data{position:absolute;width:485px;height: 295px;background-color: #fff;top:260px;right: 5px;}
.teach-data-title{width:70px;height: 20px;margin:3px 10px 0px 11px;color: rgb(127, 127, 127); font-size:16px;}

.teach-data-axios{position:absolute;width: 485px;height: 200px;top:40px;color:rgb(127, 127, 127);}
.teach-data-name{margin-left: 100px;}
.teach-data-data{margin-right: 100px;}
.teach-data-name-content{margin-top: 10px}
.teach-data-data-content{margin-top: 10px}
.right{color: #4CAF50;font-weight:bold;}
.error{color: #D32F2F;font-weight:bold;}

#footer{width: 100% ;height: 200px;background-color: #333; position: absolute;}
.footer-logo{margin-top: 15px;margin-left:100px;width: 230px;}
.footer-logo-font{margin-top: 31px;position: relative}
.footer-logo-font-strong{font-size: 17px}
.footer-logo-a{color: #acacac;cursor:pointer;}
.footer-logo-a:hover{color: #acacac;}
.footer-logo-a img{margin-top: 10px;}
.introduce{color:#acacac;width:500px;position: absolute;top:110px;left: 111px}
.copyright a{position: absolute;left:650px;bottom: 5px;color: #999;cursor: pointer}
